name: Action To Run test.py
run-name: ${{ github.actor }} run of Test.py Action Demo
on: [push]

#Variables that can be changed by the user
env:

  sourcePath: /requirements
  targetList: /Code/Backend/changed-file-list.txt
  outputFile: /Code/Backend/Traceability_Report.txt
  targetThreshold: 0.0
  devFeedback: '{"est_ossl_util.c, RQ4.txt": 21.0}'

jobs:
  Example-Action:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: tj-actions/changed-files@v33
        id: changed-files

      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: python -m pip install -r requirements.txt

      - run: |
          cd ./Code/Backend
          touch changed-file-list.txt
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "$file"
            echo "$file" >> changed-file-list.txt
          done
          touch Traceability_Report.txt
          python test.py $sourcePath $targetList $outputFile $targetThreshold $devFeedback
      - name: Upload changed files list
        uses: actions/upload-artifact@v3
        with:
          name: Traceability Report
          path: Code/Backend/Traceability_Report.txt
